# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Visual Studio
*.sln
*.vcxproj
*.vcxproj.filters
*.user
*.opensdf
*.sdf
*.suo
*.VC.db
*.VC.VC.opendb

# 编译产物
*.obj
*.o
*.lib
*.dll
*.exe
*.pdb
*.exp
*.log
*.tlog
*.recipe
*.lastbuildstate

# 生成的二进制和中间文件
Binaries/
Intermediate/
Release/
Debug/
x64/
*.ipch

# 系统文件
.DS_Store
Thumbs.db

# 其他
*.tmp
*.cache
*.bak
*.swp
*.userprefs

# 忽略根目录下的README和.gitignore自身
!/README.md
!/.gitignore 